/*a i.fa-trash {
    color: #dc3545;*/ /* Default red */
    /*transition: transform 0.2s, color 0.2s ease-in-out;
}

a:hover i.fa-trash {
    color: #b02a37;*/ /* Slightly darker red */
    /*transform: scale(1.2);*/ /* Slight zoom effect */
/*}

a:active i.fa-trash {
    color: #ff4d4d;*/ /* Lighter red */
    /*transform: scale(0.9);*/ /* Slight press effect */
/*}*/
